


/* Photo try 1 */
/* #workinfo{ 
  display: flex;
  justify-content: space-around;
  inline-size: auto;
  line-height: 100px;
}

#screenshot{
  width: 600px;
  height: auto;
  padding: 100px 30px 100px 30px;
  border-color: #af3800;
  background-color: #5c008b;
}

#almost {
  width: 500px;
  height: auto;
  padding: 80px 30px 78px 30px;
  background-color: #fe621d;
}

#waiting {
  align-content: center;
  width: 500px;
  height: auto;
  padding: 80px 30px 78px 30px;
  border: 4px #00ffe7;
  background-color: #af3800;
}*/

/* photo try 2 */
/* <div class="gallery">
        <figure class="gallery-item gallery-item--1">
          <img src="/images/screen.png" class="gallery__img" alt="Website screenshot">
        </figure>
        <figure class="gallery-item gallery-item--2">
          <img src="/images/almost.jpg" class="gallery__img" alt="Project Rendering">
        </figure>  
        <figure class="gallery-item gallery-item--3">
          <img src="/images/waiting.jpg" class="gallery__img"alt="Project Rendering">
        </figure>  */

        /* .textbox_1{
  position: absolute;
  background-color: black;
  color: white;
  font-size: 50px;
  margin-top: 30px;
  margin-left: 100px;
  

}

.textbox_2{
  position: absolute;
  background-color: black;
  color: white;
  font-size: 50px;
  margin-top: 30px;
  margin-left: 800px;
}

.textbox_3{
  position: absolute;
  background-color: black;
  color: white;
  font-size: 50px;
  margin-top: 30px;
  margin-left: 1510px;
} */