body {
  background-color: #00cfc1;
  color: #af3800;
}

p {
  font-size: 25px;

}

h1 {

}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  height: 35vh;
}

nav {
  list-style: none;
}

.navbar a {
  display: inline;
  float: right;
  margin: 20px 20px 20px 20px;
  font-size: 25px;
  color: #ff006e;
  text-shadow: 2px 2px #af3800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
  display: flex;
  color: #af3800;
  background-color: #00ffe7;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  font-size: 100px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: center;
  border-radius: 20px;
  border: 15px #af3800;
  border-style: groove;
}

.header:hover {
  background-color: rgb(250, 173, 227);
}

.river {
  float: right;
  margin-right: 400px;
  margin-top: 100px;
  width: 400px;
  height: auto;
  border-radius: 100%;
}

.about{
  display: flex;
  justify-content: space-around;
  margin-top: 800px;
  font-size: 35px;
  color: black;

}

#aboutinfo{
  display: flex;
  justify-content: space-around;
  inline-size: auto;
  line-height: 100px;
}


.contact{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  font-size: 35px;
  color: black;
}

.contact p{
  text-align: center;
}


.work{
  display: flex;
  justify-content: space-around;
  font-size: 35px;
  color: black;
  margin-bottom: 50px;
  margin-top: 50px;
}

/* This is the Work photos along with the ul and li elements at the top */
.please {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  padding: 20px 20px 20px 20px;
}

.please::after {
  max-width: 150%;
  max-height: 150%;
}






