body {
  background-color: #00cfc1
}

.navbar > li {
  list-style-type: none;
  display: inline;
  float: right;
  margin: 20px 20px 20px 20px;
  font-size: 25px;
  color: ;
  text-shadow: 2px 2px #af3800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
  display: flex;
  color: #af3800;
  background-color: #00ffe7;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  font-size: 100px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: center;
  border-radius: 20px;
  border: 15px #af3800;
  border-style: groove;
}

.header:hover {
  background-color: antiquewhite;
}

.river {
  width: 200px;
  height: auto;
}