
/* I need help understanding how to organize CSS and follow the  logical flow */
body {
  background-image: url("/assets/images/space.jpg");
  color: #f8f4f6;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
  font-size: 25px;

}


ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

section {
  display: flex;
  background-color: rgb(0,0,0); /* behind text color */
  background-color: rgba(0,0,0, 0.4); /* opacity */
  color: white;
  align-content: center;
  line-height: 2.0;
}

footer{
  display: flex;
  justify-content: center;
  color: #ff006e;
  margin: 100px;
}

/* Styling for the Nav bar */
.navbar li {
  list-style: none;
  display: inline;
  float: right;
  margin: 7px;
  padding: 0;
  font-size: 25px;
}
/* Styling for the Nav bar */
.btn{
  text-decoration: none;
  font-size: 35px;
  color: white;
  border: 5px solid #ff006e;
  margin: 10px;
}

/* My name */
.header{
  display: flex;
  color: white;
  justify-content: center;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  font-size: 100px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 20px;
  border: 15px #ff006e;
  border-style:double;
}

.header:hover {
  background-color: #ff006e;
}

/* Main photo */
.river {
  display: block;
  margin: 10px auto;
  width: 400px;
  border-radius: 100%;
  padding: 20px 20px 20px 20px;
  border: 10px solid #ff006e;
  transform: rotate(-10deg);
}

/* About section */
.about{
  display: flex;
  justify-content: space-around;
  font-size: 35px;
  height: 20vh;
  padding: 55px;
  text-align: center;
  margin-top: 100px;
}

/* Contact section */
.contact{
  display: flex;
  justify-content: space-around;
  font-size: 35px;
  height: 20vh;
  padding: 55px;
  text-align: center;
  margin-top: 200px;
}

/* Section with my works and their pictures */
.work{
  display: flex;
  justify-content: space-around;
  font-size: 35px;
  padding: 55px;
  margin-top: 100px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.gallery{
  position: relative;
  height: 25vh;
  width: auto;
  border: 10px solid #ff006e;
  margin-top: 20px;
  
}

.title{
  position: relative;
  font-size: 30px;
  color: white;
}


.gallery:hover{
  transform: scale(1.3);
  opacity: 1;
}

a{
  font-size: 25px;
  background-color: #ff006e;
  color: black;
}

a[data-project] {
  position: relative;
}

a[data-project]::before {
  position: absolute;
  content: attr(data-project);
  z-index: auto;
}


/* Still need to add media stuff! */

@media screen and (max-width: 992px) {
  section {
    display: block;
    flex-wrap: wrap;
  }
  
  ul {
    flex-direction:row;
    justify-content: space-around;
    margin-top: 20px;
  }
  ul .btn{
    border: none;
    font-size: 20px;
  }
  img{
    width: 100%;
  }
}